@font-face {
    font-family: 'OpenSans';
    src: url('../assets/fonts/open_sans_700.woff2') format('woff2');
    font-weight: 700;
  }

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/open_sans_600.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../assets/fonts/open_sans_500.woff2') format('woff2');
    font-weight: 500;
  }

@font-face {
    font-family: 'OpenSans';
    src: url('../assets/fonts/open_sans_400.woff2') format('woff2');
    font-weight: 400;
  }