@media (min-width: 36rem){
    .hero-con > span {
        font-size: 1.8rem;
    }
    
    .hero-con > h1 {
        font-size: 2.52rem;
    }
    
    .hero-con > p {
        font-size: 2.16rem;
    }

    .feature-grid {
        grid-template: 1fr / repeat(2, 1fr);
    }

    .text-con > h3 {
        font-size: 1.25rem;
    }
}
@media (min-width: 48rem){
    .feature-grid {
        grid-template: 1fr / repeat(3, 1fr);
    }
}
@media (min-width: 62rem){
    .hero-con > img {
        opacity: 1;
    }
}
@media (min-width: 75rem){
    nav, .feature-grid{
        width: 100%;
        max-width: 100rem;
        margin: 0 auto;
    }

    .burger {
        display: none;
    }
    .nav-menu {
        display: flex !important;
        align-items: center;
        height: 4rem !important;
        flex-basis: auto;
    }

    .nav-menu > a {
        height: 4rem;
        padding: 0 1rem;
    }

    .hero-con > img {
        /* media min width / pc top vw */
        top: -18.75rem;
    }
}
@media (min-width: 87.5rem){
}