/* Small devices (landscape phones, 576px and up) */
@media (min-width: 36rem) and (orientation:portrait) {
    .card-container {
        grid-template: 1fr / repeat(1, 1fr);
    }
}
@media (min-width: 36rem) and (orientation:landscape) {
    .card-container {
        grid-template: 1fr / repeat(3, 1fr);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 48rem) {
    .card-container {
        grid-template: 1fr / repeat(2, 1fr);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 62rem) {
    .card-container {
        grid-template: 1fr / repeat(3, 1fr);
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 75rem) {
    .card-container {
        grid-template: 1fr / repeat(3, 1fr);
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 87.5rem) {
    .card-container {
        grid-template: 1fr / repeat(4, 1fr);
    }
}